<section>
  <h2>Start new Post</h2>

  <form class="new-thread-form">
    <div>
      <label for="thread-title">Title</label>
      <input type="text" id="thread-title" name="thread-title" />
    </div>
    <div>
      <label for="thread-url">Link</label>
      <input id="thread-url" name="thread-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if threads.length}}
<section>
  <h2>Your Thread</h2>
  <ol>
    {{#each threads as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/addpost.js"></script>